# AUTH YOU CAN GET HERE: https://twitchapps.com/tmi/
TWITCH_OAUTH=

# TWITCH USERNAME
TWITCH_USERNAME=oglokl

# TWITCH CHANNEL USERNAME
TWITCH_CHANNEL=oglokl

# CREATE AN APPLICATION IN: https://dev.twitch.tv/console
# AND GET THE CLIENT ID
TWITCH_CLIENT_ID=

# AUTHORIZATION YOU CAN GET HERE: https://twitchapps.com/tokengen/
# USE THESE SCOPES: user:read:email
TWITCH_AUTHORIZATION=

# CREATE AN APPLICATION IN: https://discord.com/developers/applications
# CREATE DISCORD BOT E GET THE TOKEN
# ADD THE BOT TO A GUILD: https://discord.com/api/oauth2/authorize?client_id=CLIENT ID&permissions=8&scope=bot
DISCORD_TOKEN=

# CHANNEL ID THAT WILL BE THE TWITCH CHAT
# REMEMBERING THAT THE BOT HAS TO BE IN THE GUILD OF THIS CHANNEL
DISCORD_CHANNEL_ID=